{{> head
title="Blogs, portfolios, documentation sites"
description="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
metaTitle="Harold - Static site generator"
metaUrl="https://www.haroldjs.com/404.html"
}}

<div class="container">
  <div class="homepage-lead">
    <h1><span class="homepage-lead-accent">404!</span> Sorry, this page isn't available.</h1>
    <div class="homepage-lead-subtitle">
      
    </div>
  </div>
</div>

{{> footer}}
