{{> head
title="Docs"
description="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
metaTitle="Harold Docs - Static site generator"
metaUrl="https://www.haroldjs.com/docs.html"
fullWidth=true
}}

<div class="container-full-width docs-layout" data-js-doc-content>
  {{> docs-sidebar-left}}
  <section class="docs-content docs-home">
    <h1>A quick intro to Harold JS</h1>

    <p>
      Harold (<code>create-harold-app</code>) is a simple tool that provides a ready-to-use template for creating your
      static
      websites and blogs. It is based on well-known <a href="https://handlebarsjs.com/">Handlebars</a>, <a
        href="https://commonmark.org/">Markdown</a> and <a href="https://sass-lang.com/">Scss</a> to
      be simple to use and start. Markdown parsing is possible thanks to <a href="https://unifiedjs.com/">unified</a>.
    </p>

    <h2>What can you do with it?</h2>

    <p>
      For example, with Harold and services like <a href="https://www.netlify.com/">Netlify</a> you
      can
      build your blog and website
      in a fraction of time. You’ll
      get a nice responsive design and a built-in search engine based on <a href="https://lunrjs.com/">Lunr</a> and
      indexed posts content. You can
      build
      small and medium websites, blogs, documentation sites, landing pages.
    </p>

    <p>This whole website is built using Harold.</p>

    <h2>Adjust styles, pages, post layouts, and frontend JavaScript logic.</h2>

    <p>You can change whatever you want. Do this in the <code>src</code> directory. Harold will compile everything and
      put it in
      the
      <code>build</code> directory. In the build directory, you’ll find a ready-to-deploy project.
    </p>

    <h2>When to use it</h2>
    <li>when you want to build a static website/blog with simple search functionality (default theme)</li>
    <li>when you want to build a small (maybe medium) site or blog</li>
    <li>when you don't want to use any big and complicated solution</li>
    <li>when you know how to use the Handlebars template system</li>

    <h2>When not to use it</h2>
    <li>when you want to build something significant (not tested with big projects, tested with over 120 markdown files,
      works quite fast)</li>
    <li>when you don't want to use Scss (you can still write standard CSS in .scss files)</li>
    <li>when you want to rely on something which has its community</li>

    <h2>Let's start here!</h2>

    <ul>
      <li><a href="/docs/getting-started.html">Getting started</a></li>
      <li><a href="/docs/guides.html">Guides</a></li>
      <li><a href="/docs/recipes.html">Recipes</a></li>
    </ul>

    <h2>Templates demos</h2>

    <ul>
      <li><a href="https://cocky-leakey-9ad1bc.netlify.app/">Default template</a></li>
      <li><a href="https://hardcore-curie-8f1ce0.netlify.app/">Docs template</a></li>
      <li><a href="https://elegant-volhard-48a4d1.netlify.app/">Bare template</a></li>
    </ul>

    <h2>Some links</h2>

    <ul>
      <li><a href="https://youtu.be/DG0T1Fg0mq0">YouTube</a></li>
      <li><a href="https://github.com/juliancwirko/create-harold-app">GitHub</a></li>
      <li><a href="https://www.npmjs.com/package/create-harold-app">Npm</a></li>
      <li><a href="https://twitter.com/JulianCwirko">Twitter</a></li>
    </ul>
  </section>
</div>

{{> footer docs=true}}
