{{> head
title="Blogs, portfolios, documentation sites"
description="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
metaTitle="Harold - Static site generator"
metaUrl="https://www.haroldjs.com"
}}

<div class="container">
  <div class="homepage-lead">
    <h1>Just publish<span class="homepage-lead-accent">!</span></h1>
    <div class="homepage-lead-subtitle">
      With Harold, it is much simpler and quicker to create your static sites!
    </div>
    <div class="homepage-lead-subtitle">
      Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates.
    </div>
    <div class="homepage-lead-image">
      <img src="/assets/images/harold-start.png" alt="Harold start image" />
    </div>
    <div class="homepage-docs-button-section">
      <a href="/docs/getting-started.html">Documentation</a>
    </div>
    <div>
      Demos of available templates: 
      <a href="https://haroldjs-default-demo.netlify.app/" class="homepage-link">Default</a> | <a href="https://haroldjs-docs-demo.netlify.app/" class="homepage-link">Docs</a> | <a href="https://haroldjs-bare-demo.netlify.app/" class="homepage-link">Bare</a>
    </div>
    <div>
      License: MIT | <a href="https://github.com/harold-js/create-harold-app" class="homepage-link">Github</a>
    </div>
  </div>
</div>

{{> footer}}
