<div class='docs-sidebar-left' data-js-docs-sidebar-left>
  <div class="docs-sidebar-left-header">Docs</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='docs'
  }}
  <div class="docs-sidebar-left-header">Learn</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='learn'
  }}
</div>
<div class="docs-sidebar-left-menu-icon" data-js-docs-sidebar-left-menu-icon>
  <i class="gg-details-more"></i>
</div>
